/* Mobile View*/

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f9fafc;
}

h1 {
    font-size: 10pt;
    padding-left: 0;
}

/* Navigation */
.navigation {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
}

li {
    list-style: none;
}

ul {
    padding: 0px;
    margin-top: -5px;
}

.navigation a {
    text-decoration: none;
    color: #69696a;
    font-size: 10pt;
}

/* Hire Us Button */
.hireUs {
    background-color: #000;
    text-decoration: none;
    font-size: 10pt;
    padding: 10px 24px;
    border-radius: 20px;
    display:block;
    text-align:center;
    width: 100vm;
    margin-left: 0px;
    margin-top: 5px;
}
a.hireUs {
    color: #fff;
}

h2 {
    font-size: 2.5 em;
    margin-top: 15px;
}

/* Call to Action Button */
.button {
    background-color: #000;
    text-decoration: none;
    color: #fff;
    padding: 10px 24px;
    border-radius: 20px;
    margin: 4px;
    display:block;
    text-align:center;
    width: 100vm;
}

a.button {
    font-size: 10pt;
}

/* Parapgraph */
p {
    justify-content: center;
    border-left: solid 3px #69696a;
    padding-left: 15px;
    margin-bottom: 15px;
    font-size: 8pt;
}

/* Circles */
.circle {
    display: none;
    position: absolute;
    opacity: .5%;
    border-radius: 50%;
}

.circle1 {
    background-color: rgba(247, 136, 167, 0.6);
    width: 50px;
    height: 50px;
}

.circle2 {
    background-color: rgba(247, 193, 162, 0.7);
    width: 50%;
    height: 50%;
}

.circle3 {
    background-color: rgba(207, 130, 213, 0.6);
    width: 50%;
    height: 50%;
}

/* Footer */
footer {
    display:flex;
    position: fixed;
    align-items: center;
    background-color: rgba(247, 193, 162, 0.7);
    bottom: 0;
    left: 0;
    padding: 7px;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
}

.footerLeft {
    color: #000;
    font-size: 12px;
    margin-left: 5px;
}

.footerRight {
    justify-content: space-between;
    margin-left: 185px;
}

.footerRight a {
    color: #69696a;
    text-decoration: none;
    font-size: 12px;
}

/* Desktop View */
@media screen and (min-width: 768px) {

    p {
        width: 50%;
    }

    .button {
        width: 50%;
    }

    h1 {
        margin-top: 16px;
    }

    .navigation {
        flex-flow: row;
        justify-content: flex-end;
    }

    li {
        padding: 5px;
        margin-top: -20px;
    }

    .hireUs {
        margin-top: -5px;
    }

    h2 {
        margin-top: 50px;
    }

    /* Circles */
    .circle {
        position: absolute;
        opacity: .5%;
        border-radius: 50%;
    }

    .circle1 {
        background-color: rgba(247, 136, 167, 0.6);
        width: 50px;
        height: 50px;
    }

    .circle2 {
        background-color: rgba(247, 193, 162, 0.7);
        width: 50%;
        height: 50%;
    }

    .circle3 {
        background-color: rgba(207, 130, 213, 0.6);
        width: 50%;
        height: 50%;
    }

    .footerRight {
        margin-left: 1100px;
        position: fixed;
    }
    

}